#root{
    --black-transparent: rgba(0,0,0,0.5);
    --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
    --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
    --dark-text: #212427;
  }

  @media only screen and (max-width: 640px){
    .itemView{
        background-color: #e0e0e0;
        height: 70%;
        width: 90%;
        color: #212427;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hidden{
      display: none;
    }

    .discountTag{
      background-color: red;
      border: 2px solid white;
      padding: 1%;
      border-radius: 8px;
    }

    .superOfferItemView{
      color: #e0e0e0;
    }  

    .modalItemInfo{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: space;
      z-index: 999;
      height: 100%;
      position: absolute;

    }
      
    .dialogueTitle{
      font-size: 2.5rem;
      padding-left: 1%;
      padding-right: 1%;
    }

    .descriptionContainer{
       display: flex;
    }
      
    .itemModalDescription{
      text-wrap:wrap;
      color: var(--dark-text);
      padding: 1%;
      border-radius: 8px;
      width: 70%;
    }

    .listImage{
      width: 25%;
    }

    .closeButtonContainer{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
       width: 100%;
    }
 
    .closeFormButton{
        background-color: transparent;
        color: black;
        width: auto;  
    }

    .totalP{
      background-color: rgba(0,0,0,0.3);
    }
      
    .operationBtnContainer{
      margin-top: 5%;
      display: flex;
      flex-direction: column;
    }
      
    .addToCartBtn{
      background: linear-gradient(10deg, #fa0, #ff6a00);
       color: #e0e0e0;
       
    }

    .pickerContainer{
      display: flex;
      justify-content: center;
      margin-bottom: 3%;   
    }

    .topContainer{
      border-radius: 32px 32px 0 0;
      height: 60%;
      width: 100%;
    }

    .infoContainer{
      width: 100%;
      height: 40%;
      background-color: #e0e0e0;
      margin-bottom: 0;
      border-radius: 0 0 32px 32px;
    }

    .dialogueTitleAlt{
      color: #212427;
      font-size: 1.7rem;
      display: flex;
      font-weight: bolder;
      padding: 0;
      margin: 0;
      line-height: 1.1;
    }

    .totalPalt{
      display: flex;
      justify-content: flex-end;
      margin-right: 2%;
      color: red;
      height: 30%;
    }

    .closeFormButtonAlt{
      background-color: transparent;
      margin-top: 2%;
      margin-right: 2%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
      
  }

  @media only screen and (max-height: 741px){
    .itemView{
        background-color: #e0e0e0;
        height: 80%;
        width: 90%;
        color: #212427;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hidden{
      display: none;
    }

    .discountTag{
      background-color: red;
      border: 2px solid white;
      padding: 1%;
      border-radius: 8px;
    }

    .superOfferItemView{
      color: #e0e0e0;
    }  

    .modalItemInfo{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: space;
      z-index: 999;
      height: 100%;
      position: absolute;

    }
      
    .dialogueTitle{
      font-size: 2.5rem;
      padding-left: 1%;
      padding-right: 1%;
    }

    .descriptionContainer{
       display: flex;
    }
      
    .itemModalDescription{
      text-wrap:wrap;
      color: var(--dark-text);
      padding: 1%;
      border-radius: 8px;
      width: 70%;
    }

    .listImage{
      width: 25%;
    }

    .closeButtonContainer{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
       width: 100%;
    }
 
    .closeFormButton{
        background-color: transparent;
        color: black;
        width: auto;  
    }

    .totalP{
      background-color: rgba(0,0,0,0.3);
    }
      
    .operationBtnContainer{
      margin-top: 5%;
      display: flex;
      flex-direction: column;
    }
      
    .addToCartBtn{
      background: linear-gradient(10deg, #fa0, #ff6a00);
       color: #e0e0e0;
    }

    .pickerContainer{
      display: flex;
      justify-content: center;
      margin-bottom: 3%;   
    }

    .topContainer{
      border-radius: 32px 32px 0 0;
      height: 60%;
      width: 100%;
    }

    .infoContainer{
      width: 100%;
      height: 40%;
      background-color: #e0e0e0;
      margin-bottom: 0;
      border-radius: 0 0 32px 32px;
    }

    .dialogueTitleAlt{
      color: #212427;
      font-size: 1.7rem;
      display: flex;
      font-weight: bolder;
      padding: 0;
      margin: 0;
    }

    .totalPalt{
      display: flex;
      justify-content: flex-end;
      margin-right: 2%;
      color: red;
      height: 30%;
    }

    .closeFormButtonAlt{
      background-color: transparent;
      margin-top: 2%;
      margin-right: 2%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
      
  }