@media only screen and (max-width: 640px){
    .background{
        background: #e0e0e0;
        width: 100vw;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 9%;
    }

    .scInfo{
        display: flex;
        flex-direction: column;
    }

    .ul{
        list-style: none;
        color: #212427;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .li{
        height: 7vh;
        display: flex;
        border-radius: 20px;
        background: #e0e0e0;
        box-shadow:  -20px -20px 60px #bebebe,
                    20px 20px 60px #ffffff;
        margin-bottom: 5%;
        width: 100%;
                   
    }

    .h3, .p{
        font-size: 1rem;
    }

    .h3{
        text-align: start;
        height: 50%;
    }

    .p{
        text-align: end;
    }

    .listImage{
        border-radius: 20px;
        height: 100%;
    }

    .itemInfo{
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 0;
        padding-left: 1%;
        padding-right: 2%;
        height: 100%;
    }

    .cartButton{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #e0e0e0;
        box-shadow:  -20px -20px 60px #bebebe,
        20px 20px 60px #ffffff;
        color: #212427;
        position: fixed;
        right: 1%;
        top: 1%;
        z-index: 5;
    }

    .topBtnContainer{
        position: fixed;
        left: 1%;
        top: 1%;
        display: flex;
        gap: 2%;
        z-index: 5;
    }

    .logOutBtn{
        color: #212427;
        background: linear-gradient(10deg, #fa0, #ff6a00);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backBtn{
        color: #212427;
        background: linear-gradient(10deg, rgb(44, 26, 209), #00ccff);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .settingsBtn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .businessTitle{
        color: #212427;
    }

    .itemCount{
        background-color: red;
        font-weight: bolder;
        color: #e0e0e0;
        display: flex;
        padding: 3%;
        border-radius: 5px;
        height: auto;
        width: auto;
    }

    .loader, .notLogged{
        color: #212427;
        background: #e0e0e0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scInfo{
        width: 100%;
    }

    .liInfo{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .h2{
        font-weight: bolder;
        color: #212427;
    }

    .h2Rubro{
        font-weight: bolder;
        font-family: "Fredoka", roboto, sans-serif;
        color: #8D1A43;
    }
    .businessTitleHidden{
        display: none;
    }

    .emptyDataContainer{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .emptyDataContainer > a {
        font-size: 0.6rem;
        color: #212427;
    }

    .emptyDataContainer > h3 {
        color: #212427;
    }


    .emptyLogo{
        height: 40%;
        width: 80%;
    }

    .pDiscount{
        display: flex;
        justify-content: flex-end;
        padding: 5%;
        border: 2px solid white;
        background-color: red;
        color: white;
        border-radius: 8px;
        width: 70%;
        margin-left: 30%;
        animation: float 3s ease-in-out infinite;
        z-index: 4;
    }

    .oldPrice{
        margin-right: 1%;
        font-weight: 200;
    }

    .crossedText{
        text-decoration: line-through;
    }

    .hidden{
        display: none;
    }

    @keyframes float {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px); /* Adjust the distance to control the float height */
        }
        100% {
            transform: translateY(0);
        }
    }
}
@media only screen and (min-width: 641px){
    .background{
        background: #e0e0e0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.container{display: none;}
   
}