#root{
    --black-transparent: rgba(0,0,0,0.5);
    --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
    --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
    --dark-text: #212427;
  }

.messageContainer{
    height: 30%;
    width: 40%;
    max-width: 70%;
    background-color: white;
    color: var(--dark-text);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.button{
    background: var(--orange-gradient);
    border: none
}

@media only screen and (max-width: 640px){
  .messageContainer{
    height: auto;
    width: 100%;
    background-color: white;
    color: var(--dark-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

.message{
  color: #212427;
  font-size: 2rem;
}

.button{
    background: linear-gradient(10deg, #fa0, #ff6a00);
    border: none
}

.inputContainer{
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  justify-content: center;
  width: 90%;
}

.inputCorrect{
  border-radius: 8px;
  border: none;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: bolder;
}

.resultContainer{
    max-height: 30vh;
    overflow-y: scroll;
}

.resultLine{
    color: #212427;
    border-bottom: 1px solid lightsteelblue;
    padding: 5px;
    text-align: left;
}

.inputIncorrect{
  border-radius: 8px;
  border: 2px solid red;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: bolder;
}
}