.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.offerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 16px;
}

.button{
    background-color: #e0e0e0;
    color: #212427;
    border-radius: 50%;
    width: auto;
   height: 100%;
   display: flex;

}

.display{
    background-color: transparent;
    color: #212427;
    border: none;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    width: 30%;
}