@media only screen and (max-width: 640px){
    .container{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #e0e0e0;
        
    }

    .logoContainer{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #212427;
        font-weight: bolder;
        margin-right: 10%;
        margin-top: 0;
    }

    .logo{
        height: 100%;
        width: auto;
    }

    .indexContainer{
        background-color: transparent;
        backdrop-filter: blur(20px);
        background: #e0e0e0;
        border-radius: 16px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow:  -20px -20px 60px #bebebe,
                    20px 20px 60px #ffffff; 
        color: #212427;
        width: 90%;
        height: 80%;
        max-height: 80%;
        overflow: scroll;
    }

    .h2{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    
    .businessName{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: bolder;
    }


    .businessName:hover{
        background-color: aquamarine;
        border-radius: 8px;
        cursor: pointer;
    }
    
    
    
    

    .loaderContainer{
        background: #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
}

@media only screen and (min-width: 641px){
    .container{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #e0e0e0;
    }

    .login{
        display: none;
    }
}