#root{
    --black-transparent: rgba(0,0,0,0.5);
    --orange-gradient: linear-gradient(10deg, #fa0, #ff6a00);
    --green-gradient: linear-gradient(15deg, #04ea00, #00d17d);
    --dark-text: #212427;
    --yellow-text: #edfa61
  }

@media only screen and (max-width: 640px){
    .container{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #e0e0e0;
        
    }

    
    .login{
        background-color: transparent;
        backdrop-filter: blur(20px);
        background: #e0e0e0;
        border-radius: 16px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow:  -20px -20px 60px #bebebe,
                    20px 20px 60px #ffffff; 
        width: 90%;            
    }

    .logo{
        width: 100%;
        object-fit: scale-down;
    }
    
    .loginBtnContainer{
        width: 100%;
        color-scheme: light;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    
    
    
    
    
    .button{
        background: var(--orange-gradient);
        border: none;
    }
    
    .title{
        font-size: 24px;
        font-weight: bolder;

    }
    .h3{
        color: #edfa61;
        text-shadow: 2px 2px 5px rgba(82,14,63,1);}

    .loaderContainer{
        background: #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .footer{
        position: absolute;
        bottom: 0;
        right: 1%;
        color: #212427;
        line-height: 1%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
    }
}

@media only screen and (min-width: 641px){
    .container{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #e0e0e0;
    }

    .login{
        display: none;
    }
}